.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-fluid {
    position: relative;
    text-align: center;
    color: white;
}

ul.nav li a, ul.nav li a:visited {
    color: white !important;
    font-weight: bold;
}

ul.nav li a:hover, ul.nav li a:active {
    color: white !important;
    font-weight: bold;
}

ul.nav li.active a {
    color: white !important;
    font-weight: bold;
}
