{% extends 'nav_base.html' %}
{% block title %}Home{% endblock %}
{% block body %}


    <div class="container-fluid">

        <div class="jumbotron">
            <h1 class="display-4">Your teams, {{ request.user.username }}!</h1>
            <p class="lead"> These are your teams. Take a look and do something with this knowledge.</p>

        </div>


        <div class="row">
            <div class="col-lg-12 thumb">
                <ul class="list-inline">
                    {% for team in object_list %}
                        <li>
                            <div class="container-fluid">
                            {% load static %}
                            <img src="{%  static "DovaTeam/resources/497637.jpg" %}" class="img-fluid img-thumbnail" alt="Team1" style="max-width: 200px">
                                <div class="centered"><h3><a class="nav-link" href="{% url 'team_id' team.id %}">{{ team.name }} </a></h3></div>
                            </div>
                            <button type="button" class="btn btn-danger">
                                Delete team
                            </button>
                        </li>
                    {% endfor %}
                        <li>
                            <button type="button" class="btn btn-success">
                                Add Team...
                            </button>
                        </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">

            </div>

        </div>

    </div>

{% endblock %}



