{% extends 'nav_base.html' %}
{% block title %}Teams{% endblock %}
{% block body %}

<script></script>
    <div class="container-fluid">

    <div class="jumbotron">
        <h2 class="display-4"> Team members for {{ team.name }}</h2>
    </div>

    <div class="row">
        <div class="col-md-12 thumb">
            <ul class="list-inline">
                {% for user in object_list %}
                    <li>
                        <div class="container-fluid">
                            {% load static %}
                            <img src="{% static "DovaTeam/resources/497637.jpg" %}" class="img-fluid img-thumbnail"
                                 alt="Team1" style="max-width: 200px">
                            <div class="centered"><h3>{{ user.username }}</h3>
                            </div>

                        </div>
                        <button type="button" class="btn btn-danger">
                            Delete user
                        </button>
                    </li>
                {% endfor %}
                    <li>
                        <button type="button" class="btn btn-success">
                            Add User...
                        </button>
                    </li>
            </ul>
        </div>
    </div>



{% endblock %}
